body,
html {
  height: 100%;
}
.App {
  text-align: center;
}

.notshow {
  display: none;
}
.site-layout-background {
  background: #fff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.cardsize {
  width: 200;
  text-align: center;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#components-layout-demo-fixed .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.2);
}
.site-layout .site-layout-background {
  background: #fff;
}

.outer-wrap {
  height: 100%;
  position: relative;
  background-color: #fff;
}
.login-panel {
  width: 400px;
  height: 300px;
  background-color: darkgray;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-top: 120px;
  margin-left: -200px;
}

.realinput {
  top: 50%;
  left: 50%;
  margin-top: 100px;
  margin-left: 0px;
  /* height:50%;
  width: 50%; */
  /* width: 100px;
  height: 200px; */
}
.inputname {
  height: 50%;
  width: 60%;
}

/* These are css styles for equipment and can combine with others in the future*/
#storage {
  margin-top: 15px;
  text-align: center;
  font-size: 30px;
}

.headerPretty {
  text-align: center;
  font-family: fantasy;
  font-weight: bold;
  color: #1f618d;
}
.redButton {
  background-color: #ff5733;
  color: #fff;
}
.whiteButton {
  background-color: #fff;
  color: black;
}
#addSpace {
  margin-top: 10px;
}
.titleName {
  text-align: center;
  font-family: fantasy;
  font-size: 20px;
  font-weight: bold;
}
/* These are css styles for equipment and can combine with others in the future*/
