body,
html {
  height: 100%;
}
.App {
  text-align: center;
}

.notshow {
  display: none;
}
.site-layout-background {
  background: #fff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#components-layout-demo-fixed .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.2);
}
.site-layout .site-layout-background {
  background: #fff;
}

.outer-wrap {
  height: 100%;
  position: relative;
  background-color: #fff;
}
.login-panel {
  width: 400px;
  height: 300px;
  background-color: darkgray;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-top: 120px;
  margin-left: -200px;
}

.realinput {
  top: 50%;
  left: 50%;
  margin-top: 100px;
  margin-left: 0px;
  /* height:50%;
  width: 50%; */
  /* width: 100px;
  height: 200px; */
}
.inputname {
  height: 50%;
  width: 60%;
}

/* These are css styles for equipment and can combine with others in the future*/
#storage {
  margin-top: 15px;
  text-align: center;
  font-size: 30px;
}

.headerPretty {
  text-align: center;
  font-family: fantasy;
  font-weight: bold;
  color: #1f618d;
}
.redButton {
  background-color: #ff5733;
  color: #fff;
}
.whiteButton {
  background-color: #fff;
  color: black;
}
#addSpace {
  margin-top: 10px;
}
.titleName {
  text-align: center;
  font-family: fantasy;
  font-size: 20px;
  font-weight: bold;
}
/* These are css styles for equipment and can combine with others in the future*/
#Bank {
  text-align: center;
}

.button {
  margin-top: 10px;
}

.button Button  {
  text-align: center;
  background-color: #ff5733;
  border: none;
}

.Form {
  text-align: center;
  width: 500px;
  margin: 0 auto;
  border: lightgray solid;
  padding-top: 20px;
}

#first {
  width: 150px;
  margin: 2px 2px;
}

#first Alert{
  width: 300px;
}

#second {
  width: 200px;
}

#second Input{
  height: 40px;
}

#third {
  width: 150px;
  margin: 2px 2px;
}

#third Alert{
  width: 300px;
}

#fourth {
  width: 200px;
}

#fourth Input{
  height: 40px;
}

#fifth {
  width: 150px;
  margin: 2px 2px;
}

#fifth Alert{
  width: 300px;
}

#sixth {
  width: 200px;
}

#sixth Input{
  height: 40px;
}

#seventh {
  width: 150px;
  margin: 2px 2px;
}

#seventh Alert{
  width: 300px;
}

#eighth {
  width: 200px;
}

#eighth Input{
  height: 40px;
}

.amount Input{
  height: 40px;
  width: 230px;
}

.info {
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 450px;
  text-align: center;
  align-items: center;
}

#Title {
  margin-top: 30px;
  font-size: large;
  font-weight: bolder;
}

.rateInfo {
  font-weight: bold;
  font-size: medium;
  margin-bottom: 10px;
}

#rate {
  color: #ff5733;
}

.card {
  width: 50px;
  float: left;
}

#indexCard {
  float: right;
}

#currentSilver {
  width: 160px;
}

#currentGold {
  width: 160px;
}

p {
  text-align: center;
  font-size: medium;
  font-weight: bold;
}